.container {
  display: flex;
  flex-direction: column;
  text-align: left;
  transition: .2s;

  fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    margin: 15px 0px;

    div {
      display: flex;
      justify-content: space-between;

      label:last-child {
        color: var(--red-strawberry);
      }
    }

    input::placeholder {
      color: var(--grey-cool);
      font-weight: 400;
    }
  }
}
